<%- include ../layouts/header.ejs %>    
 
 
<form action="/items/add" method="post" name="form1">
    <table width="25%" border="0">
        <tr> 
            <td>Item</td>
            <td><input type="text" name="name" id="name" value="<%= name %>" /></td>
        </tr>
        <tr> 
            <td>Quantity</td>
            <td><input type="text" name="quantity" value="<%= quantity %>" /></td>
        </tr>
        <tr> 
            <td>Amount</td>
            <td><input type="text" name="amount" value="<%= amount %>" /></td>
        </tr>
        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Add" /></td>
        </tr>
    </table>
</form>
 
<%- include ../layouts/footer.ejs %>