<%- include ../layouts/header.ejs %>
 
 
<table width='80%' border=0>
 
    <tr style='text-align:left; background-color:#CCC'>
        <th>Name</th>
        <th>Quantity</th>
        <th>Amount</th>
    </tr>
    
    <!--
        Using FOREACH LOOP for the users array
        
        myArray.forEach(function(el, index) {
            // el - current element, i - index
        });
    -->
    <% if (data) { %>
    <% data.forEach(function(user){ %>
        <tr>
            <td><%= item.Name %></td>
            <td><%= item.Quantity %></td>
            <td><%= item.Amount %></td>
            <td>
                <div style="float:left">
                    <a href='/users/edit/<%= user.id %>'>Edit</a> &nbsp;                            
                    <form method="post" action="/users/delete/<%= user.id %>" style="float:right">
                        <input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                        <input type="hidden" name="_method" value="DELETE" />
                    </form>
                </div>
            </td>
        </tr>
    <% }) %>
    <% } %>
 
</table>
 
<%- include ../layouts/footer.ejs %>